{
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "@babel/runtime"
      }
    ]
  ],
  "presets": ["@babel/preset-env"]
}
